* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: grey;
  /* overflow: hidden; */
  position: relative;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 5vw;
  margin: 0 auto;
  padding-top: 2vh;
  font-family: Agbalumo, sans-serif;
  color: rgb(255, 255, 255);
}

h2#message {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3vw;
}

#gameArea {
  position: relative;
  width: 50vw;
  height: 60vh;
  margin: 2vh auto 0;
  outline: 1px solid white;
  overflow: hidden;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/image/sky-background.jpg");
  background-size: cover;
  background-position: center;
}

#snowfield {
  position: absolute;
  width: 40%;
  height: 50%;
  background: url("/image/snow-field.jpg");
  background-size: cover;
  background-position: center;
  left: 30%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#bridge1 {
  position: absolute;
  width: 8%;
  height: 50%;
  background: url("/image/bridge1.png");
  background-size: cover;
  background-position: center;
  left: 34%;
  bottom: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 5;
}

#bridge2 {
  position: absolute;
  width: 8%;
  height: 50%;
  background: url("/image/bridge2.png");
  background-size: cover;
  background-position: center;
  right: 34%;
  bottom: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 5;
}

#snowball-1 {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("/image/snowball.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  left: 50%;
  bottom: 5%;
  z-index: 11;
}

.player {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 120px;
}

#player1,
#player2 {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 80px;
  background-size: contain;
  z-index: 12;
  background-repeat: no-repeat;
}

#player1 {
  left: 500px;
  background: url("/character/player1.png");
}

#player2 {
  right: 500px;
  background: url("/character/computerPlayer.png");
}

.controls {
  position: absolute;
  right: 13%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.btn {
  width: 10vw;
  height: 7vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  clip-path: circle(58%);
  cursor: pointer;
  transition: transform 0.2s;
}

.btn:hover {
  transform: scale(1.1);
}

#playBtn {
  background-image: url("/button/play-btn.png");
}

#restartBtn {
  background-image: url("/button/restart-btn.png");
}
